.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(star.gif);
    height: 16px;
    outline: none;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

.rateit .rateit-hover
{
	background: url(star.gif) left -16px;
    /*background: url(star.gif) left -32px;*/
}

.rateit .rateit-hover-rtl
{
    background-position: right -32px;
}

.rateit .rateit-selected
{
    /*background: url(star.gif) left -16px;*/
	background: url(star.gif) left -32px;
}

.rateit .rateit-selected-rtl
{
    background-position: right -16px;
}

.rateit .rateit-preset
{
   /* background: url(star.gif) left -48px;*/
}

.rateit .rateit-preset-rtl
{
    background: url(star.gif) left -48px;
}

.rateit button.rateit-reset
{
    background: url(delete.gif) 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -16px;
}
.rating_table{ background-color: rgb(238, 238, 204); width: 58%;}
.rating_table div{ height:19px;}
.rating_popup{position: absolute; background: none repeat scroll 0% 0% white; z-index: 100; border: 1px solid rgb(204, 204, 204); padding: 25px 24px; left: 98px; border-radius: 6px; 
-moz-box-shadow: 1px 0 21px -1px #000;
-webkit-box-shadow: 1px 0 21px -1px #000;
box-shadow: 1px 0 21px -1px #000; display:none; top:35px; width:187px;}
.review_detail{ position:relative;}
